body {
    background-color: rgb(158, 158, 230);
    color: rgb(45, 41, 56);
    font-family: 'Overpass Mono', monospace;
    padding:  0;
    margin: 0;
}

h1{
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar{
    background-color: lightgrey;
    padding: 10px;
    display: flex;
}

.logo{
    width: 50px;
    height: 50px;
}

.container {
    margin-top: 30px;
    padding: 60px;
}

.post {
    background-color: rgb(219, 70, 90);
    margin-bottom: 30px;
    padding: 5px 20px 5px 20px;
    border-radius: 12px;
}

.post h4{
    color: tan;
}

.post span{
    color: rgb(43, 35, 65);
}